/******************************************************************
Site Name: 
Author: 

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/*
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't 
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
*/
/* import mixins */
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -o-transition-property: height, width;
  -ms-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  transition-property: transform, opacity;
}
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -ms-transition-duration: 0s;
  transition-duration: 0s;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  font-family: 'Courier';
  font-size: 100%;
  line-height: 1.35;
  color: #393a39;
  background: #f7f7f7;
}
.retina {
  display: none;
}
#container {
  padding-top: 56px;
  min-height: 100%;
  position: relative;
}
#inner-content {
  padding-bottom: 1em;
  position: relative;
}
.center {
  width: 96%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 0.5em 37em;
}
.center >hr {
  margin: 1em 0;
}
.home .center {
  margin-top: 2em;
  z-index: 99;
  position: relative;
  padding: 0 0.5em 58em;
}
.home .center #editorial .push-spaces {
  position: absolute;
  bottom: -22em;
}
.home .center #editorial .push-spaces .fb-like {
  float: left;
  padding-right: 1em;
  margin-top: 0.3em;
}
.home .center #editorial .news .headline {
  position: absolute;
  top: -0.85em;
  left: 0;
  z-index: 1;
  padding-right: 1em;
}
.border {
  height: 0.5em;
  width: 100%;
  background: #ff8433;
  position: fixed;
  top: 0;
  z-index: 9999;
  display: block;
}
.header {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  background: #fff;
  opacity: 0.93;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=93)";
  filter: alpha(opacity=93);
}
.header nav ul {
  padding: 0;
}
.header .logo {
  display: none;
  position: relative;
  left: 0;
  top: -0.8em;
  max-width: 210px;
  height: auto;
}
.header .social-box {
  position: absolute;
  right: 15px;
  top: 1.6em;
  display: none;
  z-index: 1;
}
#main {
  clear: both;
}
.home #editorial {
  font-size: 0.8em;
  clear: both;
}
.home #editorial .widget {
  padding: 20px 0;
}
.home #editorial .widget h3 {
  font-size: 1.4em;
  padding-bottom: 0.3em;
  margin: 0;
}
.home #editorial .widget h4 {
  font-size: 1.2em;
  padding-bottom: 0.8em;
  margin: 0;
}
.home #editorial .widget .textwidget a {
  text-decoration: underline;
}
.home #editorial .news {
  position: relative;
  z-index: 90;
}
.home #editorial .news a {
  text-decoration: none;
}
.home #editorial .news span {
  font-family: 'TrendSansOne';
  text-transform: uppercase;
  letter-spacing: -0.08em;
  color: #868686;
  background: #f7f7f7;
  font-size: 80%;
}
.home #editorial .news .link {
  position: absolute;
  bottom: 2em;
  right: 0;
  display: none;
}
.grid-container {
  clear: both;
  display: block;
  padding: 1em 0;
  overflow: visible !important;
}
.grid-container .grid-item {
  padding: 0;
  border-bottom: 4px solid #e7e7e7;
  margin-bottom: 20px;
  display: block;
  font-size: 0.8em;
  overflow: visible !important;
  min-height: 390px;
  background: #f7f7f7;
}
.grid-container .grid-item .overlay {
  *background: url("../images/opacity.png");
  background: rgba(247,247,247,0.65);
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 35%;
  font-family: 'TrendSansOne';
  text-transform: uppercase;
  z-index: 99;
}
.grid-container .grid-item img {
  width: 100%;
  height: auto;
}
.grid-container .grid-item h4 {
  max-width: 78%;
  font-size: 110%;
  margin: 0;
}
.grid-container .grid-item .tags {
  clear: both;
  font-size: 0.85em;
  font-family: 'TrendSansOne';
  text-transform: uppercase;
  color: #868686;
}
.grid-container .grid-item .tags.writer-tags {
  padding-bottom: 0.2em;
  max-width: 80%;
}
.grid-container .grid-item .tags.genre-tags {
  padding-bottom: 0.8em;
}
.grid-container .grid-item .tags a {
  color: #868686;
}
.grid-container .grid-item .tags a:hover,
.grid-container .grid-item .tags a:focus {
  text-decoration: underline;
}
.grid-container .grid-item .belowimg {
  position: relative;
  margin-top: 0.6em;
}
.grid-container .grid-item .label {
  position: absolute;
  font-family: 'TrendSansOne';
  text-transform: uppercase;
  font-size: 70%;
  background: #e6e6e6;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  padding: 0.3em 1em;
  display: block;
  top: 0;
  right: 0;
  -webkit-transition-property: color, background-color;
  -moz-transition-property: color, background-color;
  -o-transition-property: color, background-color;
  -ms-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 0.5s, 0.5s;
  -moz-transition-duration: 0.5s, 0.5s;
  -o-transition-duration: 0.5s, 0.5s;
  -ms-transition-duration: 0.5s, 0.5s;
  transition-duration: 0.5s, 0.5s;
  -webkit-transition-timing-function: linear, linear;
  -moz-transition-timing-function: linear, linear;
  -o-transition-timing-function: linear, linear;
  -ms-transition-timing-function: linear, linear;
  transition-timing-function: linear, linear;
}
.grid-container .grid-item:hover .label {
  background: #ff8433;
}
.grid-container .grid-item:hover .label a {
  color: #fff;
}
.grid-container .grid-item p {
  clear: both;
  padding: 0.7em 0;
  font-size: 90%;
  line-height: 1.3;
}
.grid-container .grid-item a {
  text-decoration: none;
}
.grid-container .grid-item a.excerpt-read-more {
  text-decoration: underline;
}
.grid-container .grid-item .timestamp {
  display: none;
}
a,
a:visited {
  color: #393a39;
/* on hover */
/* on click */
/* mobile tap color */
}
a:hover,
a:visited:hover,
a:focus,
a:visited:focus {
  color: #060606;
}
a:active,
a:visited:active {
  color: #393a39;
}
a:link,
a:visited:link {
/*
		this highlights links on iPhones/iPads.
		so it basically works like the hover selector
		for mobile devices.
		*/
  -webkit-tap-highlight-color: rgba(0,0,0,0.3);
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  font-family: 'TrendSansOne';
  text-rendering: optimizelegibility;
  font-weight: normal;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  text-transform: uppercase;
  letter-spacing: -0.08em;
  clear: both;
  margin: 0;
/*
	if you're going to use webfonts, be sure to check your weights
	http//css-tricks.com/watch-your-font-weight/
	*/
/* removing text decoration from all headline links */
}
h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a,
h5 a,
.h5 a {
  text-decoration: none;
  color: inherit;
}
h1,
.h1 {
  font-size: 1.7em;
  line-height: 1.42em;
}
h2,
.h2 {
  font-size: 1.48em;
  line-height: 1.2em;
  margin-bottom: 4px;
}
h3,
.h3 {
  font-size: 1.3em;
}
h4,
.h4 {
  font-size: 1em;
}
h5,
.h5 {
  font-size: 0.9em;
  line-height: 2.09em;
}
p {
  margin: 0 0 0.5em 0;
}
#menu-main {
  margin: 0;
  z-index: 10;
}
#menu-main ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}
#menu-main li {
  width: 100%;
  display: block;
}
#menu-main li.current-menu-item {
  background: #ff8433;
}
#menu-main li.current-menu-item a {
  color: #fff;
}
.js #menu-main {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}
#menu-main.opened {
  max-height: 9999px;
}
#menu-main,
#menu-main * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#menu-main,
#menu-main ul {
  list-style: none;
  width: 100%;
}
#menu-main li {
  float: left;
  width: 100%;
}
#menu-main a {
  color: #fff;
  text-decoration: none;
  width: 100%;
  background: #ff8433;
  padding: 0.7em 1em;
  float: left;
  font-size: 0.8em;
  letter-spacing: -0.08em;
  font-family: 'TrendSansOne';
  text-transform: uppercase;
}
#menu-main ul ul a {
  background: #ca3716;
  padding-left: 2em;
}
#nav-toggle {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  margin-top: 0.5em;
  padding-top: 0.8em;
  height: 50px;
  float: right;
  overflow: visible;
  background: url("../images/hamburger.gif") no-repeat 96% 50%;
  text-align: left;
  text-decoration: none;
  font-family: 'TrendSansOne';
  text-transform: uppercase;
  color: #ff8433;
  font-size: 80%;
  position: relative;
}
#nav-toggle p {
  position: absolute;
  height: 20px;
  z-index: 90;
  display: block;
  float: left;
  left: 2%;
  top: 15px;
  padding-top: 3px;
  line-height: auto;
  font-size: 110%;
  color: #ff8433;
}
.post-type-archive-episode article header h4,
.single-episode article header h4 {
  color: #9e9e9e;
}
.post-type-archive-episode #main hr,
.single-episode #main hr {
  margin: 0.9em 0 2.9em;
}
.post-type-archive-episode #ssba,
.single-episode #ssba {
  margin: 0.5em 0 1em;
  width: 100%;
  border-bottom: 4px solid #e6e6e6;
  height: 6.5em;
}
.single .grid-container {
  display: none;
}
.single .back-btn {
  padding: 0 0 3.5em;
  margin-top: -0.7em;
  text-align: center;
}
.single .read-more-small {
  padding: 0 2%;
  text-align: left !important;
  font-size: 90%;
  display: none;
}
.single .read-more-small a {
  font-weight: bold;
}
.single-post #ssba {
  float: right;
}
.single-post article header,
.page article header,
.single-post article footer,
.page article footer {
  display: inline;
  float: left;
  overflow: hidden;
  width: 96.875%;
  margin: 0 1.5625%;
  *width: 96.875% -correction;
  *margin: 0 1.5625% -correction;
}
.single-post .archive-list,
.page .archive-list {
  display: inline;
  float: left;
  overflow: hidden;
  width: 96.875%;
  margin: 0 1.5625%;
  *width: 96.875% -correction;
  *margin: 0 1.5625% -correction;
}
.single-post .content-row .gallery,
.page .content-row .gallery {
  display: inline;
  float: left;
  overflow: hidden;
  width: 96.875%;
  margin: 0 1.5625%;
  *width: 96.875% -correction;
  *margin: 0 1.5625% -correction;
}
.page .entry-content {
  display: inline;
  float: left;
  overflow: hidden;
  width: 96.875%;
  margin: 0 1.5625%;
  *width: 96.875% -correction;
  *margin: 0 1.5625% -correction;
  padding: 1em 0 1.5em;
}
.single-post .navigation,
.page .navigation,
.archive .navigation {
  float: left;
}
.single-post .navigation a,
.page .navigation a,
.archive .navigation a {
  font-family: 'TrendSansOne';
  text-transform: uppercase;
  letter-spacing: -0.08em;
  text-decoration: none;
  display: block;
  clear: both;
  font-size: 68%;
  padding: 0.5em 0 0;
}
.single-post .column,
.page .column,
.archive .column {
  padding: 0 15px;
}
.single-post .archive-list,
.page .archive-list,
.archive .archive-list {
  position: relative;
  margin: 1em 0;
  padding-top: 1em;
  width: 82%;
}
.single-post .archive-list hr,
.page .archive-list hr,
.archive .archive-list hr {
  background: #868686;
  margin-bottom: 1em;
}
.single-post .archive-list h4,
.page .archive-list h4,
.archive .archive-list h4 {
  background: #f7f7f7;
  padding: 0.5em 0.5em 0.5em 0;
  position: absolute;
  top: 0.25em;
  left: 0;
  font-size: 80%;
}
.single-post .archive-list .archive-slider,
.page .archive-list .archive-slider,
.archive .archive-list .archive-slider {
  width: 100%;
  position: relative;
  height: 420px;
}
.single-post .archive-list .archive-slider .rsArrow,
.page .archive-list .archive-slider .rsArrow,
.archive .archive-list .archive-slider .rsArrow {
  position: absolute;
  top: -2.6em;
}
.single-post .archive-list .archive-slider .rsArrow .rsArrowIcn,
.page .archive-list .archive-slider .rsArrow .rsArrowIcn,
.archive .archive-list .archive-slider .rsArrow .rsArrowIcn {
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  position: absolute;
  cursor: pointer;
  background-image: url("../images/updown.png");
  background-repeat: no-repeat;
  background-color: #333;
  z-index: 10;
}
.single-post .archive-list .archive-slider .rsArrow.rsArrowRight,
.page .archive-list .archive-slider .rsArrow.rsArrowRight,
.archive .archive-list .archive-slider .rsArrow.rsArrowRight {
  right: 1em;
}
.single-post .archive-list .archive-slider .rsArrow.rsArrowRight .rsArrowIcn,
.page .archive-list .archive-slider .rsArrow.rsArrowRight .rsArrowIcn,
.archive .archive-list .archive-slider .rsArrow.rsArrowRight .rsArrowIcn {
  background-position: center right;
}
.single-post .archive-list .archive-slider .rsArrow.rsArrowLeft,
.page .archive-list .archive-slider .rsArrow.rsArrowLeft,
.archive .archive-list .archive-slider .rsArrow.rsArrowLeft {
  right: 2.5em;
}
.single-post .archive-list .archive-slider .rsArrow.rsArrowLeft .rsArrowIcn,
.page .archive-list .archive-slider .rsArrow.rsArrowLeft .rsArrowIcn,
.archive .archive-list .archive-slider .rsArrow.rsArrowLeft .rsArrowIcn {
  background-position: center left;
}
.single-post .archive-list .archive-slider .rsArrow.rsArrowDisabled .rsArrowIcn,
.page .archive-list .archive-slider .rsArrow.rsArrowDisabled .rsArrowIcn,
.archive .archive-list .archive-slider .rsArrow.rsArrowDisabled .rsArrowIcn {
  background-color: #adadad;
}
.single-post .archive-list .archive-slider .rsBullets,
.page .archive-list .archive-slider .rsBullets,
.archive .archive-list .archive-slider .rsBullets {
  position: absolute;
  z-index: 9;
  top: -3.05em;
  padding-top: 4px;
  padding-right: 2.6em;
  right: 0;
  height: auto;
  margin: 0 auto;
  line-height: 5px;
  overflow: hidden;
  background: #f7f7f7;
}
.single-post .archive-list .archive-slider .rsBullet,
.page .archive-list .archive-slider .rsBullet,
.archive .archive-list .archive-slider .rsBullet {
  width: 6px;
  height: 6px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 8px 6px;
  cursor: pointer;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.single-post .archive-list .archive-slider .rsBullet span,
.page .archive-list .archive-slider .rsBullet span,
.archive .archive-list .archive-slider .rsBullet span {
  display: block;
  width: 6px;
  height: 6px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #bbb;
}
.single-post .archive-list .archive-slider .rsBullet.rsNavSelected span,
.page .archive-list .archive-slider .rsBullet.rsNavSelected span,
.archive .archive-list .archive-slider .rsBullet.rsNavSelected span {
  background-color: #000;
}
.single-post .archive-list .list-wrapper,
.page .archive-list .list-wrapper,
.archive .archive-list .list-wrapper {
  background: #f0f0f0;
  padding: 1em 0;
  clear: both;
  position: relative;
}
.single-post .archive-list .list-wrapper div.separator,
.page .archive-list .list-wrapper div.separator,
.archive .archive-list .list-wrapper div.separator {
  clear: both;
  display: block;
}
.single-post .archive-list .list-wrapper ul,
.page .archive-list .list-wrapper ul,
.archive .archive-list .list-wrapper ul {
  font-family: 'TrendSansOne';
  text-transform: uppercase;
  font-size: 63%;
  list-style-type: none;
  padding: 0 0.5em;
  padding-bottom: 1em;
  display: block;
}
.single-post .archive-list .list-wrapper ul li,
.page .archive-list .list-wrapper ul li,
.archive .archive-list .list-wrapper ul li {
  padding: 0.4em 0;
  letter-spacing: -0.08em;
  display: block;
}
.single-post .archive-list .list-wrapper ul a,
.page .archive-list .list-wrapper ul a,
.archive .archive-list .list-wrapper ul a {
  text-decoration: none;
  display: block;
}
.single-post .gallery img,
.page .gallery img,
.archive .gallery img {
  max-width: 100%;
  height: auto;
}
.single-post .content-row,
.page .content-row,
.archive .content-row {
  clear: both;
  position: relative;
  margin-top: 16px;
}
.single-post .content-row h4,
.page .content-row h4,
.archive .content-row h4 {
  font-size: 90%;
}
.single-post .content-row h4.content-row-headline,
.page .content-row h4.content-row-headline,
.archive .content-row h4.content-row-headline {
  position: absolute;
  top: -7px;
  padding-right: 0.5em;
  background: #f7f7f7;
}
.single-post .content-row .content,
.page .content-row .content,
.archive .content-row .content {
  display: block;
  padding: 2em 0;
}
.grid-head {
  margin-top: 20px;
  position: relative;
}
.grid-head .grid-headline {
  text-align: center;
  padding: 0.5em;
  color: #868686;
  font-size: 75%;
  bottom: -16px;
}
.grid-head hr {
  height: 4px;
  background: #e6e6e6;
  width: 16%;
}
.grid-foot {
  border-top: 4px solid #e6e6e6;
  text-align: center;
  margin-top: 10px;
  clear: both;
  font-size: 70%;
  padding: 1em 0;
}
.grid-foot a {
  font-family: 'TrendSansOne';
  text-transform: uppercase;
  letter-spacing: -0.08em;
  text-decoration: none;
  color: #868686;
}
.grid-foot a:hover {
  text-decoration: underline;
  color: #868686;
}
.media {
  display: none;
}
.single-book article header {
  position: relative;
}
.single-book article .entry-content p,
.single-book article .content-row-content p {
  padding: 1em 0;
}
.single-book h1 {
  font-size: 1.3em;
  line-height: 1.25em;
  margin-bottom: 0.2em;
  width: 90%;
}
.single-book .buy-button {
  background-color: #9e9e9e;
  margin-left: 0.5em;
  color: #f7f7f7 !important;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -ms-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  transition-timing-function: linear;
}
.single-book .buy-button:hover {
  background-color: #ff8433;
}
.single-book .taxonomies .writers {
  font-size: 80%;
  font-family: 'TrendSansOne';
  text-transform: uppercase;
  color: #868686;
  margin-bottom: 0.5em;
}
.single-book .taxonomies .writers a {
  text-decoration: none;
  color: #868686;
}
.single-book .offer {
  padding: 40px 0 0.5em !important;
}
.single-book .offer h4 {
  font-size: 80%;
  margin: 0.5em 0;
}
.single-book .offer .offer-item {
  width: 50%;
  padding-bottom: 15px;
}
.single-book .offer .offer-item.item-1 {
  padding-right: 5%;
  float: left;
}
.single-book .offer .offer-item.item-2 {
  padding-left: 5%;
  float: left;
  clear: right;
}
.single-book .offer .offer-item h5 {
  font-size: 70%;
  line-height: 100%;
  margin: 0.5em 0;
}
.single-book .offer .offer-item .description {
  font-size: 85%;
  line-height: 110%;
  color: #868686;
  text-align: left;
}
.single-book .offer .offer-item img {
  max-height: 40px;
  width: auto;
}
.single-book .offer .offer-item:hover {
  border-top: solid 2px #e6e6e6;
}
.single-book .offer .slashy {
  background: url("../images/slash.png") left center no-repeat;
  width: 40px;
  float: left;
  display: block;
}
.single-book .interview {
  margin-top: 1em;
  font-size: 90%;
  border-top: solid 2px #e6e6e6;
  padding-top: 1.5em !important;
}
.single-book .interview a {
  text-decoration: none;
}
.single-book .interview .text,
.single-book .interview .icon {
  float: left;
}
.single-book .interview h4 {
  line-height: 120%;
  margin: 0;
}
.single-book .interview h5 {
  color: #868686;
  padding-bottom: 0.3em;
  line-height: 100%;
  font-size: 80%;
  margin: 0;
}
.single-book .interview .icon {
  background-image: url("../images/interview.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #e6e6e6;
  font-family: 'TrendSansOne';
  text-transform: uppercase;
  display: block;
  height: 1.8em;
  width: 1.8em;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition-property: color, background-color;
  -moz-transition-property: color, background-color;
  -o-transition-property: color, background-color;
  -ms-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 0.3s, 0.3s;
  -moz-transition-duration: 0.3s, 0.3s;
  -o-transition-duration: 0.3s, 0.3s;
  -ms-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transition-timing-function: linear, linear;
  -moz-transition-timing-function: linear, linear;
  -o-transition-timing-function: linear, linear;
  -ms-transition-timing-function: linear, linear;
  transition-timing-function: linear, linear;
  margin-right: 0.5em;
  margin-top: 3px;
}
.single-book .interview:hover .icon {
  background-color: #ff8433;
}
.single-book .interview:hover .icon a {
  color: #fff;
}
.single-book .infobox {
  padding: 0.5em 0;
}
.single-book .infobox a {
  text-decoration: none;
}
.single-book .infobox .info {
  font-size: 80%;
}
.post-wrapper {
  clear: both;
  margin-bottom: 10px;
}
.post-wrapper .player {
  clear: both;
}
#content {
  margin-top: 1.5em;
}
#content .attachment-featured {
  width: 100%;
  height: auto;
}
.single-title,
.page-title,
.single-title,
.page-title,
.archive-title,
/* want to style individual post classes? Booya! */,
.post-id          /* post by id (i.e. post-3) */,
.post             /* general post style */,
.page             /* general article on a page style */,
.attachment       /* general style on an attatchment */,
.sticky           /* sticky post style */,
.hentry           /* hentry class */,
.category-slug    /* style by category (i.e. category-videos) */,
.tag-slug         /* style by tag (i.e. tag-news) */,
/* post meta */,
.byline {
  color: #999;
time
}
.entry-content,
.content-row-content {
  ul: , ol, table, dl;
dl
dt
/*
	image alignment on a screen this size may be
	a bit difficult. It's set to start aligning
	and floating images at the next breakpoint,
	but it's up to you. Feel free to change it up.
	*/
}
.entry-content p,
.content-row-content p {
  font-size: 0.8em;
  padding: 1em 0;
}
.entry-content dd,
.content-row-content dd {
  margin-left: 0;
  font-size: 0.9em;
  color: #787878;
  margin-bottom: 1.5em;
}
.entry-content img,
.content-row-content img {
  margin: 0 0 1.5em 0;
  height: auto;
  width: 100%;
  clear: both;
}
.entry-content .alignleft,
.content-row-content .alignleft,
.entry-content img.alignleft,
.content-row-content img.alignleft,
.entry-content .alignright,
.content-row-content .alignright,
.entry-content img.alignright,
.content-row-content img.alignright,
.entry-content .aligncenter,
.content-row-content .aligncenter,
.entry-content img.aligncenter,
.content-row-content img.aligncenter,
.entry-content video,
.content-row-content video,
.entry-content object,
.content-row-content object {
  max-width: 100%;
  height: auto;
}
.entry-content pre,
.content-row-content pre {
  background: #eee;
  border: 1px solid #cecece;
  padding: 10px;
}
.wp-caption {
  max-width: 100%;
  background: #eee;
  padding: 5px;
/* images inside wp-caption */
}
.wp-caption img {
  max-width: 100%;
  margin-bottom: 0;
  width: 100%;
}
.wp-caption p.wp-caption-text {
  font-size: 0.85em;
  margin: 4px 0 7px;
  text-align: center;
}
.pagination,
.wp-prev-next {
  margin: 1.1em 0 2.2em;
}
.pagination ul .prev-link,
text-align center ul .prev-link,
ul ul .prev-link,
display inline-block ul .prev-link,
white-space nowrap ul .prev-link,
padding 0 ul .prev-link,
clear both ul .prev-link,
margin 1px ul .prev-link,
li ul .prev-link,
padding 0 ul .prev-link,
margin 0 ul .prev-link,
float left ul .prev-link,
display inline ul .prev-link,
overflow hidden ul .prev-link,
a ul .prev-link,
span ul .prev-link,
margin 0 ul .prev-link,
text-decoration none ul .prev-link,
padding 0 ul .prev-link,
line-height 1em ul .prev-link,
font-size 1em ul .prev-link,
font-weight normal ul .prev-link,
padding 0.5em ul .prev-link,
min-width 1em ul .prev-link,
display block ul .prev-link,
span.current ul .prev-link,
font-weight bold ul .prev-link,
/* end .bones_page_navi */ ul .prev-link,
/* fallback previous &: next links */ ul .prev-link,
.wp-prev-next ul .prev-link {
  float: left;
}
.pagination ul .next-link,
text-align center ul .next-link,
ul ul .next-link,
display inline-block ul .next-link,
white-space nowrap ul .next-link,
padding 0 ul .next-link,
clear both ul .next-link,
margin 1px ul .next-link,
li ul .next-link,
padding 0 ul .next-link,
margin 0 ul .next-link,
float left ul .next-link,
display inline ul .next-link,
overflow hidden ul .next-link,
a ul .next-link,
span ul .next-link,
margin 0 ul .next-link,
text-decoration none ul .next-link,
padding 0 ul .next-link,
line-height 1em ul .next-link,
font-size 1em ul .next-link,
font-weight normal ul .next-link,
padding 0.5em ul .next-link,
min-width 1em ul .next-link,
display block ul .next-link,
span.current ul .next-link,
font-weight bold ul .next-link,
/* end .bones_page_navi */ ul .next-link,
/* fallback previous &: next links */ ul .next-link,
.wp-prev-next ul .next-link {
  float: right;
}
.slider-holder {
  background: #f7f7f7;
  border: none;
  height: 320px;
  position: relative;
  margin-bottom: -320px;
  display: block;
  z-index: 0;
}
.slider-timer {
  margin-top: 40%;
  width: 100%;
  height: 4px;
  background: #e6e6e6;
  position: relative;
  z-index: 9;
}
.slider-timer div {
  width: 0;
  height: 100%;
  background: #868686;
  display: block;
  left: 0;
  top: 0;
  position: absolute;
}
#slider {
  width: 100%;
  font-size: 80%;
  background: #f7f7f7;
  clear: both;
  margin-bottom: 15%;
  z-index: 0;
  overflow: visible;
}
#slider .rsContent,
#slider .rsSlide {
  overflow: visible;
}
#slider .rsContent {
  width: 100%;
  background: #f7f7f7;
  background-repeat: repeat;
}
#slider .rsContent .info {
  width: 100%;
  height: 320px;
  margin: 0 auto;
  margin-top: -320px;
  position: relative;
  overflow: visible;
  font-family: 'TrendSansOne';
  text-transform: uppercase;
}
#slider .rsContent .info .content {
  background: #f0f2f1;
  border-top: 1px solid #e6e6e6;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: -12px;
  padding: 5px 0;
  max-height: 90px;
  height: 90px;
  z-index: 999;
}
#slider .rsContent .info .content hr {
  width: 55%;
  margin: 0 auto;
}
#slider .rsContent .info .content h2,
#slider .rsContent .info .content h3 {
  margin: 0;
}
#slider .rsContent .info .content h5 {
  line-height: 14px;
}
#slider .rsContent.veckans h2 {
  font-size: 1.7em;
  line-height: 1.42em;
}
#slider .rsContent.featured q {
  font-family: 'TrendSansOne-Italic';
  font-size: 125%;
  text-transform: uppercase;
  line-height: 100%;
  letter-spacing: -0.1em;
  padding: 5px 15%;
  display: none;
  text-align: center;
  clear: both;
}
#slider .rsContent.featured hr {
  display: none;
  margin: 10px auto 12px !important;
  background: #e6e6e6;
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  height: 2px;
}
#slider .rsContent.featured h2 {
  font-size: 250%;
  padding-bottom: 3px;
}
#slider .rsContent.featured h4 {
  border-bottom: 1px solid;
  display: inline;
  font-size: 96%;
}
#slider .rsContent.featured h5 {
  margin: 0;
  padding: 3px 0;
}
#slider .rsContent.featured i {
  display: none;
  background: url("../images/vinge.png") no-repeat center center;
  padding: 5px 18px;
  margin: 0 19px;
}
#slider .rsContent img.big {
  display: none;
}
#slider .rsContent img.small {
  display: block;
  width: 100%;
  height: auto;
  padding-bottom: 60px;
}
.footer {
  clear: both;
  color: #868686;
  background: #f0f2f1;
  border-top: 4px solid #e3e7e5;
  padding: 1.5em 0.5em;
  width: 100%;
  position: absolute;
  z-index: 100;
  bottom: 0;
  left: 0;
  height: 37em;
/* end .footer-links */
}
.footer a {
  color: #868686;
  text-decoration: none;
}
.footer #inner-footer {
  width: 100%;
  text-align: center;
}
.footer #inner-footer .widget {
  margin-bottom: 2em;
  min-height: 4em;
}
.footer #inner-footer ul {
  -webkit-padding-start: 0;
  list-style-type: none;
  font-size: 80%;
  font-family: 'TrendSansOne';
  text-transform: uppercase;
  font-size: 80%;
}
.footer #inner-footer ul.social-icons li {
  padding-right: 0.25em;
  padding-left: 0.25em;
  float: none;
  display: inline-block;
  *float: left;
}
.footer #inner-footer ul li {
  margin: 0;
}
.footer #inner-footer p {
  font-size: 75%;
  margin: 0 0 1.3em;
}
.footer #inner-footer h4 {
  margin: 0 0 0.3em;
  clear: both;
}
.footer .footer-logo {
  background-repeat: no-repeat;
  background-position: top center;
  margin-bottom: 1em;
}
.footer .copyright {
  clear: both;
  font-size: 60%;
  padding: 1em 0;
  text-align: center;
  font-family: 'TrendSansOne';
  color: #aaa;
  text-transform: uppercase;
}
.center {
  padding: 0 0 15em;
}
.home .center {
  margin-top: 0;
}
.content-row-content {
  display: inline;
  float: left;
  overflow: hidden;
  width: 96.875%;
  margin: 0 1.5625%;
  *width: 96.875% -correction;
  *margin: 0 1.5625% -correction;
}
.grid-container .grid-item {
  display: inline;
  float: left;
  overflow: hidden;
  width: 30.208333333333332%;
  margin: 0 1.5625%;
  *width: 30.208333333333332% -correction;
  *margin: 0 1.5625% -correction;
  min-width: 210px;
  min-height: 440px;
  margin-bottom: 20px;
}
.single-episode .grid-container .grid-item {
  min-height: 310px;
}
.sorting {
  font-size: 70%;
}
.single .grid-container {
  display: block;
}
.single .back-btn {
  display: none;
}
.single-post .archive-list,
.page .archive-list {
  width: 100%;
}
.single-post .two-col,
.page .two-col {
  display: inline;
  float: left;
  overflow: hidden;
  width: 46.875%;
  margin: 0 1.5625%;
  *width: 46.875% -correction;
  *margin: 0 1.5625% -correction;
}
.single-post .entry-content img,
.page .entry-content img,
.single-post .content-row-content img,
.page .content-row-content img {
  height: auto;
  clear: none;
}
.single-post .entry-content img.alignleft,
.page .entry-content img.alignleft,
.single-post .content-row-content img.alignleft,
.page .content-row-content img.alignleft {
  display: inline;
  float: left;
  overflow: hidden;
  width: 30.208333333333332%;
  margin: 0 1.5625%;
  *width: 30.208333333333332% -correction;
  *margin: 0 1.5625% -correction;
  float: left;
  margin: 0 30px 1.5em 0;
}
.single-post .entry-content img.alignright,
.page .entry-content img.alignright,
.single-post .content-row-content img.alignright,
.page .content-row-content img.alignright {
  display: inline;
  float: left;
  overflow: hidden;
  width: 30.208333333333332%;
  margin: 0 1.5625%;
  *width: 30.208333333333332% -correction;
  *margin: 0 1.5625% -correction;
  float: right;
  margin: 0 0 1.5em 30px;
}
.single-post .entry-content img.aligncenter,
.page .entry-content img.aligncenter,
.single-post .content-row-content img.aligncenter,
.page .content-row-content img.aligncenter {
  margin: 0.5em auto;
  clear: both;
}
.slider-holder {
  height: 390px;
  margin-bottom: -390px;
}
.slider-timer {
  display: none;
}
#slider {
  font-size: 100%;
  margin-bottom: 3em;
}
#slider .rsContent .info {
  overflow: hidden;
  margin: 0 auto;
  height: 220px;
  margin-top: -220px;
}
#slider .rsContent .info .content {
  background: transparent;
  position: absolute;
  text-align: center;
  width: 50%;
  height: 40%;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-top: none;
  border-bottom: none;
  font-size: 75%;
}
#slider .rsContent.featured q {
  display: block;
  padding: 0.1em 20%;
  line-height: 105%;
}
#slider .rsContent.featured hr {
  display: block;
}
#slider .rsContent.featured i {
  display: inline-block;
}
#slider .rsContent img.big {
  display: block;
}
#slider .rsContent img.small {
  display: none;
  padding-bottom: 0;
}
#slider .veckans .info .content {
  top: 30%;
  left: 5%;
}
.footer {
  height: 15em;
}
.footer .footer-logo {
  display: none;
}
.footer #inner-footer {
  max-width: 960px;
  margin: 0 auto;
  text-align: left;
}
.footer #inner-footer .widget {
  display: inline;
  float: left;
  overflow: hidden;
  width: 30.208333333333332%;
  margin: 0 1.5625%;
  *width: 30.208333333333332% -correction;
  *margin: 0 1.5625% -correction;
}
.footer #inner-footer .middle-widget {
  text-align: center;
}
.footer #inner-footer ul.social-icons {
  margin: 0;
  display: block;
  width: 100%;
}
.center >hr {
  margin: 0;
}
.small-image {
  display: none;
}
.border {
  display: none;
}
.header {
  background: #f7f7f7;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  position: relative;
  margin: 0 auto;
  max-width: 960px;
  background: transparent;
  height: 12em;
}
.header .logo {
  position: absolute;
  left: 0.5em;
  top: 2em;
}
.header .logo.no-retina {
  display: block;
}
.header .social-box {
  display: block;
}
#container {
  padding-top: 0;
}
.single .read-more-small {
  display: none !important;
}
.single-book article .info-wrapper {
  overflow: hidden;
}
.single-book article .article-header .veckans-bok {
  display: none;
}
.single-book .latest-sticker {
  display: none;
}
.single-book .latest-sticker .veckans-bok {
  right: -5px;
  top: 23px;
  height: 60px;
  width: 60px;
  background-image: url("../images/veckans-bok_large.png");
}
.single-book article p {
  font-size: 0.75em;
}
.single-book .cover {
  display: none;
}
.single-book .genres {
  clear: both;
  position: absolute;
  top: 0;
  z-index: 999;
  color: #868686;
}
.single-book .genres a {
  color: #868686;
  text-decoration: none;
  font-size: 70%;
  font-family: 'TrendSansOne';
  text-transform: uppercase;
}
.single-book .media #listen .playlist {
  width: 70% !important;
}
.single-book .media #listen .attachment-featured {
  margin-bottom: 1.4em;
}
.single-post .archive-list,
.page .archive-list,
.archive .archive-list {
  display: inline;
  float: left;
  overflow: hidden;
  width: 96.875%;
  margin: 0 1.5625%;
  *width: 96.875% -correction;
  *margin: 0 1.5625% -correction;
}
.single-post .archive-list .list-wrapper ul,
.page .archive-list .list-wrapper ul,
.archive .archive-list .list-wrapper ul {
  font-size: 80%;
  display: inline;
  float: left;
  overflow: hidden;
  width: 21.875%;
  margin: 0 1.5625%;
  *width: 21.875% -correction;
  *margin: 0 1.5625% -correction;
  margin: 0 10.714285714285715px;
  padding: 0;
}
.single-post .archive-list .list-wrapper .archive-slider,
.page .archive-list .list-wrapper .archive-slider,
.archive .archive-list .list-wrapper .archive-slider {
  height: 160px;
}
.single-book .info-wrapper,
.single-episode .info-wrapper,
.post-type-archive-episode .info-wrapper {
  height: 300px;
}
.single-book .player,
.single-episode .player,
.post-type-archive-episode .player {
  margin: 0 auto;
  max-width: 930px;
}
.single-book .media,
.single-episode .media,
.post-type-archive-episode .media {
  padding-bottom: 10px;
  display: inline;
  float: left;
  overflow: hidden;
  width: 63.541666666666664%;
  margin: 0 1.5625%;
  *width: 63.541666666666664% -correction;
  *margin: 0 1.5625% -correction;
  position: relative;
  overflow: visible;
  display: block;
}
.single-book .media #listen .playlist,
.single-episode .media #listen .playlist,
.post-type-archive-episode .media #listen .playlist,
.single-book .media #listen .sharing,
.single-episode .media #listen .sharing,
.post-type-archive-episode .media #listen .sharing {
  float: left;
}
.single-book .media #listen .playlist,
.single-episode .media #listen .playlist,
.post-type-archive-episode .media #listen .playlist {
  width: 100%;
}
.single-book .media #listen .sharing,
.single-episode .media #listen .sharing,
.post-type-archive-episode .media #listen .sharing {
  width: 30%;
}
.single-book .media #listen .sharing #ssba,
.single-episode .media #listen .sharing #ssba,
.post-type-archive-episode .media #listen .sharing #ssba {
  padding-left: 10%;
  padding-top: 0.17em;
}
.single-book .media #listen .sharing #ssba .share-button,
.single-episode .media #listen .sharing #ssba .share-button,
.post-type-archive-episode .media #listen .sharing #ssba .share-button {
  width: 25%;
  max-width: 36px;
}
.single-book .media #listen .sharing #ssba .share-button img,
.single-episode .media #listen .sharing #ssba .share-button img,
.post-type-archive-episode .media #listen .sharing #ssba .share-button img {
  width: 100%;
  height: auto;
}
.single-book article,
.single-episode article,
.post-type-archive-episode article {
  display: inline;
  float: left;
  overflow: hidden;
  width: 30.208333333333332%;
  margin: 0 1.5625%;
  *width: 30.208333333333332% -correction;
  *margin: 0 1.5625% -correction;
}
.home .center {
  padding: 0 0.5em 15em;
}
.home .center #editorial .widget {
  display: inline;
  float: left;
  overflow: hidden;
  width: 30.208333333333332%;
  margin: 0 1.5625%;
  *width: 30.208333333333332% -correction;
  *margin: 0 1.5625% -correction;
  float: right;
}
.home .center #editorial .push-spaces {
  position: relative;
  bottom: auto;
}
.home .center #editorial .push-spaces hr {
  display: none;
}
.home .center #editorial .news {
  position: relative;
}
.home .center #editorial .news .widget {
  padding-right: 0;
  position: relative;
  overflow: visible;
}
.home .center #editorial .news .headline {
  top: -0.7em;
}
.home .center #editorial .news .separator {
  position: absolute;
  left: -30px;
  top: -1em;
  height: 16em;
  width: 30px;
  background: #f7f7f7;
}
.home .grid-container .grid-item,
.single .grid-container .grid-item {
  border-bottom: 0;
}
.sorting {
  display: inline;
  float: left;
  overflow: hidden;
  width: 30.208333333333332%;
  margin: 0 1.5625%;
  *width: 30.208333333333332% -correction;
  *margin: 0 1.5625% -correction;
}
.filters {
  background: transparent;
  padding: 0;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
}
.filters .fold-out-filter {
  display: none;
}
.filters .filters-foldout {
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: block;
  padding: 0;
}
.filters h4,
.filters h5 {
  display: none;
}
.filters .chosen-container .chosen-results {
  max-height: 240px;
}
.filters .chosen-container {
  display: inline;
  float: left;
  overflow: hidden;
  width: 30.208333333333332%;
  margin: 0 1.5625%;
  *width: 30.208333333333332% -correction;
  *margin: 0 1.5625% -correction;
  overflow: visible !important;
  min-width: 210px;
}
.filters .chosen-container .chosen-choices {
  background-color: #e6e6e6;
}
.filters .chosen-container .chosen-choices li.search-choice {
  background-color: #fff;
}
.filters .chosen-container-active .chosen-choices {
  background: #ff8433;
}
.filters .chosen-container-active .chosen-choices .search-field {
  background-image: url("../images/chosen-sprite.png");
  background-repeat: no-repeat;
  background-position: 99% -40px;
}
.js #menu-main {
  position: absolute !important;
  overflow: visible;
  left: 25%;
  top: 9.5em;
  width: auto !important;
  clip: auto;
}
.js #menu-main.closed {
  max-height: none;
}
#nav-toggle {
  display: none;
}
#menu-main li {
  width: auto;
  *width: 24.9%;
/* IE7 Hack */
  _width: 19%;
/* IE6 Hack */
}
#menu-main a {
  margin: 0;
  padding: 0.85em;
  float: left;
  text-align: center;
  border-bottom: 0;
  background: none;
  color: #868686;
  font-size: 0.705em;
}
#menu-main a:hover {
  color: #000;
}
#menu-main li.current-menu-item {
  background: none;
}
#menu-main li.current-menu-item a {
  color: #000;
}
#menu-main ul ul a {
  display: none;
}
#slider {
  max-height: 390px;
}
#slider .rsContent .info {
  height: 340px;
  margin-top: -340px;
  max-width: 960px;
}
#slider .rsContent .info .content {
  font-size: 95%;
}
#slider .rsContent .info {
  height: 390px;
  margin-top: -390px;
}
#slider .rsContent .info .content {
  font-size: 100%;
}
#slider .rsContent.featured q {
  padding: 0.1em 23%;
}
header .social-box {
  right: 0;
}
#listen .sharing {
  padding-left: 6%;
}
ul.playlist.main {
  display: block;
}
ul.playlist.main li {
  display: none;
/*&.sm2_paused
			display block
		&.sm2_playing
			display block!important*/
}
ul.playlist.small {
  display: none;
}
ul.playlist-nav {
  display: block;
}
ul.playlist ul.upcoming-episode li,
ul.playlist-nav ul.upcoming-episode li {
  font-size: 80%;
}
/* 
you can call the larger styles if you want, but there's really no need 
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
html,
body,
.center {
  min-width: 960px !important;
}
ul.social-icons li a {
  background-image: url("../images/social-icons-ie.png");
  background-color: transparent;
}
ul.social-icons li a:hover,
ul.social-icons li a:focus {
  background-color: transparent;
}
.lt-ie8 hr {
  display: list-item;
  list-style: url("../images/dot.png") inside;
  filter: rgba(0,0,0,0);
  margin-left: -4px;
  width: 0;
}
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
